<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout.html">
<div layout:fragment="content">
    <div class="container marketing text-center">
        <div class="row">
            <div class="col-6">
                <img class="rounded-circle"
                     th:src="@{'/img/logo/bitlab.png'}"
                     alt="Generic placeholder image" width="140" height="140">
                <h2>Курс</h2>
                <p>BITLAB ACADEMY</p>
            </div>
            <div class="col-6">
                <img class="rounded-circle"
                     th:src="@{'/img/logo/doni.jpg'}"
                     alt="Generic placeholder image" width="140" height="140">
                <h2>Студент</h2>
                <p>Досқұлов Данияр(NARXOZ STUDENT)</p>
            </div>
        </div>
    </div>
</div>
</html>